## BASICS OF PYTHON PROGRAMMING: 
<div>    # FOR COMMENTING. USED HERE TO WRITE HEADINGS

FIRST PROGRAM

In [41]:
print("THESE ARE THE BASICS OF PROGRAMMING!!!")

THESE ARE THE BASICS OF PROGRAMMING!!!

VARIABLES

In [42]:
# Variables

var1 = "John"
print(var1)

John

In [43]:
var1 = "Sam"
print(var1)

Sam

DATA TYPES

In [44]:
a = 10
type(a)

int

In [45]:
a = 10.5
type(a)

float

In [46]:
a = "book"
type(a)

str

In [47]:
a = True
type(a)

bool

In [48]:
a = 3 + 4j
type(a)

complex

ARITHMETIC OPERATIONS

In [49]:
a = 10
b = 20

In [50]:
print(a + b)

30

In [51]:
print(a - b)

-10

In [52]:
print(a * b)

200

In [53]:
print(a/b)

0.5

RELATIONAL OPERATORS

In [54]:
a = 10
b = 20

print('a equals ', a)
print('b equals ', b)

a equals  10
b equals  20

In [55]:
a > b

False

In [56]:
a < b

True

In [57]:
a == b

False

In [58]:
a != b

True

LOGICAL OPERATORS

In [59]:
a = True
b = False

In [60]:
a & b

False

In [61]:
b & a

False

In [62]:
b & b

False

In [63]:
a & a

True

In [64]:
a | b

True

In [65]:
b | a

True

In [66]:
a | a

True

In [67]:
b | b

False

STRINGS

In [68]:
my_str_var = "My name is Theo"

In [69]:
my_str_var[0]

'M'

In [70]:
my_str_var[-1]

'o'

In [71]:
my_str_var[0 : 4]

'My n'

In [72]:
len(my_str_var)

15

In [73]:
my_str_var.lower()

'my name is theo'

In [74]:
my_str_var.upper()

'MY NAME IS THEO'

In [75]:
my_str_var.replace('y','a')

'Ma name is Theo'

In [76]:
new_string = "hello hello world"

In [77]:
new_string.count("hello")

2

In [78]:
s1 = 'This is python!!!'
s1.find('python')

8

In [79]:
s1.find('b')

-1

In [80]:
fruit = 'I like apples, mangoes, bananas'

fruit.split(',')

['I like apples', ' mangoes', ' bananas']