## Python Data Structures and Boolean 

- Boolean
- Boolean and Logical Operators
- Lists
- Comparison operators
- Dictionaries
- Tuples
- Sets

### Boolean Variables & Operator (Contd.)

Boolean values are the two constant objects False and True. 

They are used to represent truth values (other values can also be considered
false or true). 

In numeric contexts (for example, when used as the argument to an
arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean,
if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [1]:
stuff = ['aa', 'bb', 'cc']
for item in stuff:
    print (item)

aa
bb
cc

In [2]:
False

False

In [3]:
print(True, False)

True False

In [4]:
type(True)

bool

In [5]:
type(False)

bool

In [6]:
my_str = 'Theo'
str2 = 'theo'

In [7]:
my_str.istitle()

True

In [8]:
str2.istitle()

False

In [9]:
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('e')) #test if string endswith a k
print(my_str.startswith('T')) #test if string startswith K

True
True
False
True
False
False
False
False
True

In [10]:
str_example = 'Hello World'
my_str = 'Theo'

In [11]:
my_str.isalpha() or str_example.isnum()

True

### Lists

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [12]:
type([])

list

In [13]:
lst_example = []

In [14]:
type(lst_example)

list

In [15]:
lst = list()

In [16]:
type(lst)

list

In [17]:
lst = ['Mathematics', 'English', 100, 200, True, 10.5]

In [18]:
len(lst)

6

In [19]:
type(lst)

list

In [20]:
#.append is used to add elements in the list
lst.append('Python')

In [21]:
lst.append(["Statistics", "Visualization"])

In [22]:
lst

['Mathematics',
 'English',
 100,
 200,
 True,
 10.5,
 'Python',
 ['Statistics', 'Visualization']]

In [23]:
##Indexing in List
lst[6]

'Python'

In [24]:
lst[1:6]

['English', 100, 200, True, 10.5]

In [25]:
## insert in a specific order

lst.insert(2,"Probabilities")

In [26]:
lst

['Mathematics',
 'English',
 'Probabilities',
 100,
 200,
 True,
 10.5,
 'Python',
 ['Statistics', 'Visualization']]

In [27]:
lst.append(["Hello", 'Student'])

In [28]:
lst

['Mathematics',
 'English',
 'Probabilities',
 100,
 200,
 True,
 10.5,
 'Python',
 ['Statistics', 'Visualization'],
 ['Hello', 'Student']]

In [29]:
lst = [1,2,3]

In [30]:
lst.append([4, 5])

In [31]:
lst

[1, 2, 3, [4, 5]]

### Extend Method

In [32]:
lst = [1, 2, 3, 4, 5, 6]

In [33]:
lst.extend([8, 9])
lst

[1, 2, 3, 4, 5, 6, 8, 9]

In [34]:
lst.extend([10])
lst

[1, 2, 3, 4, 5, 6, 8, 9, 10]

### Various Operations that we can perform in List

In [35]:
lst = [1, 2, 3, 4, 5]

In [36]:
sum(lst)

15

In [37]:
lst * 5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [38]:
lst

[1, 2, 3, 4, 5]

In [39]:
lst.pop()
lst

[1, 2, 3, 4]

In [40]:
lst.pop(0)
lst

[2, 3, 4]

In [41]:
num_lst = [1, 2, 3, 4, 5, 6]

# pop out or remove element from the last one
num_lst.pop()

6

### count():Calculates total occurrence of given element of List

In [42]:
lst = [1, 1, 2, 3, 4, 5]
lst.count(1)

2

In [43]:
#length: Calculates total length of List
len(lst)

6

In [44]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst.index(1,1,4)

1

In [45]:
##Min and Max
min(lst)

1

In [46]:
max(lst)

5

## SETS

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [47]:
## Defining an empy set

set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [48]:
set_var = {1, 2, 3, 4, 3}

In [49]:
# n.b. no repetition of items/elements in a set
set_var

{1, 2, 3, 4}

In [50]:
set_var = {"Avengers", "IronMan", 'Hitman'}
print(set_var)
type(set_var)

{'IronMan', 'Avengers', 'Hitman'}

set

In [51]:
## Inbuilt function in sets
set_var.add("Hulk")

In [52]:
print(set_var)

{'IronMan', 'Avengers', 'Hulk', 'Hitman'}

In [53]:
set1 = {'Avengers', 'IronMan', 'Hitman', 'Transporter'}
set2 = {'Avengers', 'IronMan', 'Hitman', 'Hulk', 'Batman'}

In [54]:
set2.intersection_update(set1)

In [55]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [56]:
##Difference 
set2.difference(set1)

set()

In [57]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [58]:
## Difference update
set2.difference_update(set1)
print(set2)

set()

## Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [59]:
dic = {}

In [60]:
type(dic)

dict

In [61]:
type(dict())

dict

In [62]:
set_ex = {1, 2, 3, 4, 5}

In [63]:
type(set_ex)

set

In [64]:
# To craete a dictionary. N.B. "Car Numbers" are the KEYS while "Makers" are the VALUES
my_dict = {"Car1": "Audi", "Car2":"BMW", "Car3":"Mercidez Benz", "Car4":"Toyota"}
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidez Benz', 'Car4': 'Toyota'}

In [65]:
type(my_dict)

dict

In [66]:
##Access the item values based on keys

my_dict['Car1']

'Audi'

In [67]:
# We can even loop throught the dictionaries keys
for x in my_dict:
    print(x)

Car1
Car2
Car3
Car4

In [68]:
# We can even loop throught the dictionaries values
for x in my_dict.values():
    print(x)

Audi
BMW
Mercidez Benz
Toyota

In [69]:
# We can also check both keys and values
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidez Benz')
('Car4', 'Toyota')

In [70]:
## Adding items in Dictionaries

my_dict['car5'] = 'Kia'

In [71]:
my_dict

{'Car1': 'Audi',
 'Car2': 'BMW',
 'Car3': 'Mercidez Benz',
 'Car4': 'Toyota',
 'car5': 'Kia'}

In [72]:
my_dict['Car1'] = 'Honda'

In [73]:
my_dict

{'Car1': 'Honda',
 'Car2': 'BMW',
 'Car3': 'Mercidez Benz',
 'Car4': 'Toyota',
 'car5': 'Kia'}

### Nested Dictionary

In [74]:
car1_model = {'Mercedez':1960}
car2_model = {'Audi':1970}
car3_model = {'Toyota':1980}

car_type = {'car1':car1_model, 'car2':car2_model, 'car3':car3_model}

In [75]:
print(car_type)

{'car1': {'Mercedez': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Toyota': 1980}}

In [76]:
## Accessing the items in the dictionary
print(car_type['car1'])

{'Mercedez': 1960}

In [77]:
print(car_type['car1']['Mercedez'])

1960

## Tuples

In [78]:
# METHOD 1 TO: create an empty Tuples
my_tuple = tuple()

In [79]:
type(my_tuple)

tuple

In [80]:
# METHOD 2 TO: create an empty Tuples
my_tupu = ()

In [81]:
type(my_tupu)

tuple

In [82]:
my_tuple = ("Mueller", "Heinz", "Dorr")
print(type(my_tuple))
my_tuple

<class 'tuple'>

('Mueller', 'Heinz', 'Dorr')

In [83]:
# Inbuilt function
my_tuple.count('Mueller')

1

In [84]:
my_tuple.index('Dorr')

2